.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

html {
  font-size: 100%;
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

.is-visible {
  display: block !important; 
}

.is-hidden {
  display: none !important; 
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; 
}
